/* 
  flex-grow는 기본 값이 0으로
  서로 영역을 가지지 않도록 하는 것이며
  1 이상의 값을 가질 경우엔 비율에 따라 영역을 차지
*/

/* 
  flex-shrink는 기본 값이 1으로
  요소의 크기가 상위 flex 요소보다 클 경우에
  동등하게 자동으로 크기를 맞추게 되는데
  비율에 따라 다르게 적용하게 되면 
  서로 다른 비율로 줄어들게 됨
*/

.container {
  display: flex;
  background-color: aquamarine;
  padding: 0px 10%;
  height: 7vh;
}

.flex-item {
  /* flex-grow: 1; */
  width: 33%;
  background-color: beige;
  border: solid black 1px;
}

.jsic {
  display: flex;
  justify-content: start;
  align-items: center;
}

.jeic {
  display: flex;
  justify-content: end;
  align-items: center;
}

.jcic {
  display: flex;
  justify-content: center;
  align-items: center;
}

.b-r12 {
  border: solid gray 1px;
  border-radius: 12px;
}

.b-r24 {
  border: solid gray 1px;
  border-radius: 24px;
}

.m-16 {
  margin-left: 16px;
  margin-right: 16px;
}

.m-5 {
  margin-left: 5px;
  margin-right: 5px;
}

.m-3 {
  margin-left: 3px;
  margin-right: 3px;
}

.p-5 {
  padding: 5px;
}

.p-10 {
  padding: 10px;
}

.b-r1 {
  border-right: solid 1px gray;
}

.shadow {
  box-shadow: 0px 2px 2px 1px rgba(105, 105, 105, 0.308);
}
