<!doctype html>
<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
    integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/main.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.1/socket.io.js"></script>
  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
  <title>NodeJS+MongoDB</title>
</head>

<body>
  <%- include('nav.html') %>

  <h2>채팅방</h2>
  <input id="input" type="text">
  <div id="content">

  </div>
  <button id="send">서버에 메시지 보내기</button>

  <button id="room1">채팅방 1</button>
  <button id="room1_send">채팅방1 에서 메세지보내기</button>



  <script>
    var socket = io()

    $('#room1').click((e) => {
      // socket을 사용해서 GET, POST 요청을 서버에 할 경우엔
      //  그냥 socket으로 대체 할 수 있다.
      socket.emit('joinroom', 'room1')
    })

    $('#room1_send').click((e) => {
      socket.emit('room1_send', $('#input').val())
    })

    $('#send').click((e) => {
      // 서버에 데이터를 보낼 때
      // socket.emit('보낼 데이터 이름','보낼 데이터')
      socket.emit('user-send', $('#input').val())
    })

    socket.on('broadcast', (data) => {
      $('#content').append('<div><span>' + data + '</span></div>')
    })
  </script>
</body>

</html>